#caption{
    display: block;
}

#logo{
    display: block;
    margin: auto;
}

.hidden{
    visibility:hidden;
}

.ft-nunito{
    font-face:Nunito
}

.text-success{
    color: #5cb85c;
}

.text-warning{
    color: #f0ad4e;
}

.text-danger{
    color: #d9534f;
}

